img {
    width: 100%;
}

.title {
    width: 550px;
    margin: 0 auto;
}

section {
    padding: 30px 0;
}

section:nth-child(2n) {
    background-color: #0c1b3a;
}

section:nth-child(2n+1) {
    background-color: #191919;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    margin: 0 20px;
    color: #fff !important;
} 

.nav-link-last {
    margin-right: 0;
}

img.logo {
    height: 50px;
    width: auto !important;
}

.gift img{
    border-radius: 0 50px 0 50px;
}

.product a img {
    transition: .4s;
}

.product a:hover img{
    transform: scale3d(1.05 , 1.05, 1.05 );
    transition: .4s;
}

footer {
    color: #fff;
    background-color: #1b1c1c;
    padding: 30px 0;
}

footer img {
    width: 150px;
    margin-bottom: 30px;
}

footer p {
    font-size: 15px;
    margin-bottom: 5px;
}

